@import 'index.css';

.gallery-container {
  column-count: 3;
  column-gap: 16px;
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.gallery-image {
  width: 100%;
  margin-bottom: 10px;
  /*border-radius: 12px;*/
  break-inside: avoid;
}

@media (max-width: 900px) {
  .gallery-container {
    column-count: 2;
  }
}

@media (max-width: 500px) {
  .gallery-container {
    column-count: 1;
  }
}