@import './index.css';
.flex-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
}

.container {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    flex-grow: 1;
}

.tiles {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    gap: 25px;
    max-width: 1200px;
    padding: 20px;
    flex-grow: 1;
    min-height: 200px;
}

.tile {
    width: 330px;
    height: 150px;
    background-color: transparent;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: transform 0.3s ease;
    box-shadow: 0 4px 10px var(--shadow-color);
    flex-shrink: 0;
    border-color: var(--border-color);
    border-width: 2px;
    border-style: solid;
}

.tile:hover {
    transform: scale(1.05);
}
.blurred {
    filter: blur(20px);
}
  
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}
  
.modal {
    background-color: var(--background-color);
    border-radius: 15px;
    padding: 20px;
    max-width: 600px;
    width: 80%;
    min-width: 300px;
    max-height: 90vh;
    overflow-y: auto;
    text-align: center;
    z-index: 20;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    transition: height 0.3s ease;
    border-color: var(--border-color);
    border-width: 2px;
    border-style: solid;
}
  
.modal h2 {
    margin-bottom: 10px;
}

.modal p {
    max-width: 100%;
}

.modal h4 {
    text-align: left;
    margin-top: 0px;
    margin-bottom: 0px;
}

.attendance-container h4 {
    width: 100%;
    text-align: center;
}

.welcome-container h1 {
    max-width: 100%;
}

.attendance-container {
    background-color: transparent;
    border-radius: 15px;
    padding: 20px;
    max-width: 600px;
    width: 80%;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.center-text {
    text-align: center;
}
  
.attendance-table {
    width: 100%;
    border-collapse: collapse;
}
  
.attendance-table th, .attendance-table td {
    padding: 8px;
    text-align: center;
}

.responsive-attendance {
    display: none;
    flex-direction: column;
}
  
.responsive-member {
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
}

.responsive-member input {
    margin-bottom: 0px;
    width: 40px;
}

.responsive-member-info {
    flex-grow: 1;
    margin-right: 20px;
    margin-left: 20px;
}

.responsive-member button {
    font-size: large;
}
  
.responsive-practice-info {
    display: flex;
    align-items: center;
}
  
.responsive-paid-practices {
    margin-right: 10px;
}

.responsive-name,
.responsive-email {
    display: block;
}
  
@media (max-width: 768px) {
    .attendance-table {
      display: none;
    }
    
    .responsive-attendance {
      display: flex;
    }
}
  