.home-navbar-container {
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    position: fixed;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 8px;
    box-sizing: border-box;
}
.home_navbar {
    width: 100%;
    background: none;
    backdrop-filter: blur(5px);
    padding: 5px 0;
    height: 50px;
    display: flex;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    max-width: 1200px;
    border-radius: 50px;
}

.home_navbar::before {
  content: '';
  position: absolute;
  inset: 0;
  padding: 3px;
  background: linear-gradient(
    to right,
    #fad419,
    #c93855,
    #0689bd,
    #181421
  );
  border-radius: 50px;
  -webkit-mask: 
    linear-gradient(#fff 0 0) content-box, 
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: destination-out;
  mask-composite: exclude;
  z-index: -1;
}

.home_navbar h1{
    margin-top: 0;
    font-family: 'New Rocker';
    max-width: 1000px;
    font-size: 2.5em;
    color: #181421;
    padding: 10px;
    margin: 0px;
}

.nav_content {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    padding: 0 30px;
}

.divider-left {
    height: 1.2px;
    background-color: #2b333a;
    flex-grow: 1;
    margin: 0 0px;
    position: relative;
}

.divider-left::before {
  content: '';
  position: absolute;
  left: 8.8px; /* slightly offset to form border */
  top: 50%;
  transform: translateY(-50%);
  border-left: 52.4px solid #2b333a; /* outer triangle (border) */
  border-top: 11.2px solid transparent;
  border-bottom: 11.2px solid transparent;
  z-index: 0;
}

.divider-left::after {
  content: '';
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  border-left: 50px solid white; /* inner triangle (fill) */
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  z-index: 1;
}


.divider-right {
    height: 1.2px;
    background-color: #2b333a;
    flex-grow: 1;
    margin: 0;
    position: relative;
}

.divider-right::after {
  content: '';
  position: absolute;
  right: -12px;
  top: 50%;
  transform: translateY(-50%);
  border-left: 30px solid white;
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent;
  z-index: 1;
}

.divider-right::before {
  content: '';
  position: absolute;
  right: -13.2px;
  top: 50%;
  transform: translateY(-50%);
  border-left: 32.4px solid #2b333a;
  border-top: 8.2px solid transparent;
  border-bottom: 8.2px solid transparent;
  z-index: 0;
}

.home_navbar h2 {
    margin: 0;
    white-space: nowrap;
    z-index: 1;
    font-weight: bold;
    margin-left: 10px;
    margin-right: 10px;
}

.logout-button {
    position: absolute;
    left: 0px;
    top: 52%;
    transform: translateY(-50%);
    border: none;
    padding: 8px 12px;
    transition: background-color 0.3s ease;
    z-index: 11;
    box-shadow: none;
}

.logout-button img {
    width: 30px;
    height: 30px;
    filter: invert(20%) saturate(50%) hue-rotate(240deg);
}

.home-button {
    position: absolute;
    right: 0;
    top: 52%;
    transform: translateY(-50%);
    border: none;
    padding: 8px 12px;
    transition: background-color 0.3s ease;
    z-index: 11;
    box-shadow: none;
}

.home-button img {
    width: 30px;
    height: 30px;
    filter: invert(20%) saturate(50%) hue-rotate(240deg);
}