:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --text-color: #2b333a;
  --background-color: #ffffff;
  --heading-color: #181421;
  --input-border-color: #ddd;
  --shadow-color: rgba(0, 0, 0, 0.1);
  --navbar-shadow-color: rgba(0, 0, 0, 0.2);
}

[data-theme="dark"] {
  --text-color: #e6e6e6;
  --background-color: #121212;
  --heading-color: #ffffff;
  --input-border-color: #444;
  --shadow-color: rgba(255, 255, 255, 0.1);
  --navbar-shadow-color: rgba(255, 255, 255, 0.2);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  display: flex;
  min-width: 300px;
  justify-content: flex-start;
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center;
  padding: 0;
  color: var(--text-color);
  background-color: var(--background-color);
}

h1 {
  line-height: 1.1;
  text-align: center;
  font-family: 'New Rocker';
  max-width: 1200px;
  font-size: 2.5em;
  color: var(--heading-color);
  padding-left: 10px;
  padding-right: 10px;
  margin-top: clamp(5rem, 30vh, 15rem);
  font-size: clamp(3rem, 4vw, 10rem);
}

button {
  background: transparent;
  background-color: transparent;
  border-radius: 50px;
  cursor: pointer;
  box-shadow: 0 4px 8px var(--shadow-color);
  padding: 12px;
  font-weight: bold;
  backdrop-filter: blur(50px);
  border: none;
  min-width: 100px;
  color: var(--text-color);
}

button::before {
  content: '';
  position: absolute;
  inset: 0;
  padding: 3px;
  background: linear-gradient(
    to right,
    #fad419,
    #c93855,
    #0689bd
    /*#181422*/
  );
  border-radius: 50px;
  -webkit-mask: 
    linear-gradient(#fff 0 0) content-box, 
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: destination-out;
  mask-composite: exclude;
  z-index: -1;
}

button:hover {
  background: var(--shadow-color);
}

input {
  width: 100%;
  padding: 12px;
  margin-bottom: 16px;
  border: 1px solid var(--input-border-color);
  border-radius: 8px;
  box-sizing: border-box;
  background-color: transparent;
  box-shadow: 0 4px 8px var(--shadow-color);
  color: var(--text-color);
}

textarea {
  width: 100%;
  height: 150px;
  padding: 12px;
  margin-bottom: 16px;
  border: 1px solid var(--input-border-color);
  border-radius: 8px;
  box-sizing: border-box;
  background-color: transparent;
  backdrop-filter: blur(50px);
  box-shadow: 0 4px 8px var(--shadow-color);
  color: var(--text-color);
}

select {
  width: 100%;
  padding: 12px;
  margin-bottom: 16px;
  border: 1px solid var(--input-border-color);
  border-radius: 8px;
  box-sizing: border-box;
  backdrop-filter: blur(50px);
  box-shadow: 0 4px 8px var(--shadow-color);
}

p {
  margin-top: 25px;
}