body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    background-color: white;
}

.login-container {
    width: 400px;
    max-width: 80%;
    padding: 20px;
    border-radius: 12px;
    margin: 0 auto;
    background-color: white;
    box-sizing: border-box;
}

h2 {
    text-align: center;
}

.login-container input {
    width: 100%;
    padding: 12px;
    margin-bottom: 16px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-sizing: border-box;
}

.login-container label {
    display: block;
    margin-bottom: 8px;
}

.login-container button {
    width: 100%;
}

.login-container button:hover {
    background-color: #3d77ce;
}

.error-message {
    color: red;
    text-align: center;
}

.toggle-link {
    cursor: pointer;
    text-decoration: underline;
    display: block;
    padding: 0;
    margin: 0 auto;
    text-align: center;
}

.toggle-link:hover {
    color: #ff0000b3;
}

.login-container form {
    align-items:normal;
}